@tailwind base;
@tailwind components;
@tailwind utilities;

.inter{
  font-family: var(--font-inter),
}
.lato{
  font-family: var(--font-lato),
}
.poppins{
  font-family: var(--font-poppins),
}



.extended{

  height: 500px;

}
.closed{
  height: 0px;

}

.buttonAnimation{ 
  height: 100%;
  position: absolute;
  bottom:-40px;
  width: 100%;
  border-radius: 73px;
  transition: all 400ms;
}
.primary-button:hover>.buttonAnimation{
  height: 100% !important;
  background-color: white !important;
  transition: all 400ms;
  bottom:0;

}
.primary-button:hover>p{
  color: #F5BA41  !important;

}
.primary-button:hover{
  border:#F5BA41 solid 1px;
  transition: all 300ms
}





@keyframes extendDiv {
  from {height: 0%;}
  to {height: 100%;}
}

@keyframes closeDiv {
  from {height: 100%;}
  to {height:0%;}
}

@keyframes extendDiv {
  from {height: 0%;}
  to {height: 100%;}
}



